@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class=" col-lg-12 d-flex">
            <div class="col-lg-3 m-auto">
                <img class="col-md-12" src="~/Content/Images/redCar.jpeg" />
            </div>
            <div class="col-lg-3 m-auto">
                <img class="col-md-12" src="~/Content/Images/blackCar.jpg" />
            </div>
            <div class="col-lg-3 m-auto">
                <img class="col-md-12 " src="~/Content/Images/blueCar.jpg" />
            </div>
        </div>
    </section>

    <div class="row">
        <section class="col-md-3 m-auto" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Auto Sales Are Down.Here's Why They'll Coutinue To Fall</h2>
            <p>
                So far, the slowdown in new vehicle sales is slow and gradual.Through the first two months of 2018 they have slipped a barely noticable 0,8%.
                That is about to change. Auto loan interest rate are now at levels not seen since 2010 - an average of 5.2% in February.
            </p>
            <p><a class="" href="#">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-3 m-auto" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">7 things you shoud know about the 2018 Audi RS 5 </h2>
            <p>I'm frustrated. The Arizona desert roads Audi picked for me to drive its track-bred coupe on where  picturesqie and open, but I found narly a sjarp corner to attack.
             So I've called in a favour and borrowed a Nardo Gray 2018 Audi RS 5 for some extra drive time.</p>
            <p><a class="" href="#">Learn more &raquo;</a></p>
        </section> 
        <section class="col-md-3 m-auto" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">In-Depth BMW X3 review by Car and Driver</h2>
            <p>We've been  pretty adamant about the fact that the BMW X3 is one of the best cars currently in BMW's stable.
            Personally, I feel that it's the most BMW-like car the brand ha made in a long time with a steering and chassis dell that reminds me of old-school Bavarians. </p>
            <p><a class="" href="#">Learn more &raquo;</a></p>
        </section>
    </div>
</main>